* {
  box-sizing: border-box;
  margin: 0;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/celpax-ZoGOw9WYMtQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 200ms ease;
}

input,
textarea {
  outline: none;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.322);
  padding: 0.3em;
  margin: 1em 0 1em 0;
  width: 100%;
  height: 3em;
}

.nav {
  height: 5em;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-links {
  display: flex;
}

.nav-links div,
.logout {
  margin: 0.2em;
  background-color: rgb(92, 194, 253);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.d-none {
  display: none !important;
}

.special {
  padding-left: 0.2em;
  color: red;
  font-weight: bold;
}

form {
  background-color: rgba(255, 255, 255, 0.858);
  width: 350px;
  border-radius: 10px;
}

form div {
  padding: 0.3em;
}

form div div {
  text-align: center;
  color: balck;
}

.title {
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}

.submit {
  width: 150px;
  align-self: center;
  transition: all 200ms ease;
  cursor: pointer;
}

.submit:hover {
  color: white;
  background-color: black;
}

.container {
  background-color: white;
  height: fit-content;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 5em;
  width: 800px;
}

.content-wrapper {
  width: calc(100% - 1em);
  margin: 0.5em;
  border-radius: 10px;
  background-color: rgb(92, 194, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-weight: bold;
  font-size: 2em;
  margin: 1em;
}

.card-container {
  width: calc(100% - 1.2em);
  padding: 1em;
  padding-left: 0;
  margin: 0.4em;
  background-color: white;
  min-height: 6em;
  max-height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.card-info {
  height: fit-content;
  width: fit-content;
  max-width: 450px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.info {
  height: fit-content;
}

button {
  width: 80px;
  border-radius: 5px;
  border: 0;
  padding: 0.5em 1em;
  background-color: rgb(92, 194, 253);
  color: white;
  transition: all 200ms ease;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

.bold {
  font-weight: bold;
}

.mark {
  width: 5px;
  height: 250%;
  margin-right: 1.5em;
  position: relative;
  top: -20px;
}

.info {
  display: flex;
  flex-direction: row;
}

.open {
  background-color: rgb(0, 173, 0);
}

.closed {
  background-color: red !important;
}

.form-header {
  width: calc(100% - 2em);
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  background-color: rgb(226, 226, 226);
}

.form-header input,
.form-header textarea {
  padding: 1em;
  border: 0;
}

.form-header textarea {
  height: 8em;
}

.create-form-btn {
  width: fit-content;
  background-color: rgb(226, 226, 226);
  color: black;
  margin-bottom: 1em;
}

.form-title {
  text-align: center;
  font-size: 1.2em;
  margin: 1em;
}

.select-dd {
  outline: none;
  border: none;
  padding: 0.4em 1em;
  min-width: 9em;
  max-width: fit-content;
  margin: 0 5em 0 0;
  border-radius: 10px;
}

.question-card-wrapper {

  width: calc(100% - 0.4em)
}

.question {
  padding: 1em;
  width: 100%;
}

.question button {
  float: right;
}

.cc-question {
  margin: 0.8em;
}

@media (max-width:1200px) {
  .container {
    margin-top: 6em;
    width: 600px;
    font-size: 0.9em;
  }

  button {
    font-size: 0.9em;
    width: 6em;
  }
}

@media (max-width:800px) {
  .container {
    margin-top: 7em;
    width: 400px;
    font-size: 0.7em;
  }
}