* {
  box-sizing: border-box;
  margin: 0;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/celpax-ZoGOw9WYMtQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden
}

.container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

input,
textarea {
  outline: none;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.322);
  padding: 0.3em;
  margin: 1em 0 1em 0;
  width: 100%;
}

.nav {
  height: 5em;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-links {
  display: flex;
}

.nav-links div,
.logout {
  margin: 0.2em;
  background-color: rgb(92, 194, 253);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.d-none {
  display: none !important;
}

.special {
  padding-left: 0.2em;
  color: red;
  font-weight: bold;
}

form {
  background-color: rgba(0, 0, 0, 0.562);
  width: 350px;
  border-radius: 5px;
}

form div {
  padding: 0.3em;
}

form div div {
  text-align: center;
  color: white;
}

.title {
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}